<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        version   = "0.1.0">

	<name>Pendoliamo</name>

	<description>
		Il primo social network per pendolari del treno!
	</description>

	<author href="http://www.pendoliamo.it" email="info@pendoliamo.it">
		Pendoliamo
	</author>

	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="true" />
	<preference name="permissions" value="none"/>

	<access origin="http://m.pendoliamo.it" />
</widget>